*{
	margin: 0;
	padding: 0;
	font-family: 'Oswald', sans-serif;
}


body, html {
	min-width: 100vw;
	max-width: auto;
	min-height: 100vh;
	height: auto;
	overflow-x: hidden;
}

header a{
	text-decoration: none;
	color: white;
	font-weight: 800;
}

a{
	text-decoration: none;
	color: black;
	font-weight: 800;	
}




/* CSS DE NAV */

.header{
	top: 0;
	left: 0;
	z-index: 1;
	background-color: black;
	font-size: 30px;
	min-height: 70px;
	padding: 10px;	
	border-style: solid;
	border-color: white;
	position: fixed;
	width: 100%;
}

.navBar{
	float: right;
	margin: 12px 20px 0px 0px;
}

.itemI{
	padding: 20px;
} 

.itemI:hover{
	text-decoration: underline; 
}

.brand{
	float: left;
}

.logo{
	width: 70px;
	float: left;
	margin-left: 5px;
	transition-duration: 0.8s;
}

.logo:hover{
	transform: rotate(360deg);
}

.ofertas{
	background-color: red; 
	color: black;
	margin: 10px 0px 0px 20px;
	padding: 0px 15px 0px 15px;
	float: left;
	border-style: solid;
	border-color: white;
	animation-name: effectOf;
   	animation-iteration-count: infinite;
   	animation-timing-function: ease-in;
   	animation-duration: 4s;
   	animation-delay: 0.5s;
}

@keyframes effectOf {
   0%{background-color: #FF0000;}	
   12.5%{background-color: #FF8C00;}
   25%{background-color: #FFFB00;}
   37.5%{background-color: #80FF00;}
   50%{background-color: #00FFDE;}
   62.5%{background-color: #0063FF;}
   75%{background-color: #B500FF;}
}

@media (max-width: 873px) {

	.navBar{
		font-size: 20px;
		margin: 20px 20px 0px 0px;
		.navbar-nav{
			text-align: right;
		}
	}	

}




/* CSS DE FOOTER */

footer a{
	color: white;
}

.footer{
	color: white;
	background-color: black;
	border-style: solid;
	border-color: white;
	padding: 20px 15px;
	box-sizing: border-box;
}

.footer div{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: flex-start;
}

.schedule{
	font-weight: 800;
}


.newsletter, .social, .schedule, .map{
	align-self: center;
}


.suscribe{
	background-color: red;
	color: white;
	padding:0;
}

.social li{
	display: inline-block;
}


.itemsocial{
	padding: 0px 5px 0px 5px;
}


li{
	list-style: none;
}

@media (max-width: 385px) {
	
	.social li{
		display: list-item;
	}

}



/* CSS DE INDEX */
.mainH{
	background-image: url('../Img/hero.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 96px;
}

.containerHome{
	display: grid;
	grid-template-areas: 
		"celda2 celda2 celda2"
		"celda4 celda5 celda6"
		"celda7 celda8 celda9";
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto; 		
}

h1 {
	font-size: 80px;
}

.mainsubtittle{
	font-size: 40px;
	background-color: yellow;
	border-style: solid;
	border-color: black; 
	padding: 5px 20px 5px 20px;
	margin-left: 33%;
	transition: background-color 0.8s;
}

.mainsubtittle:hover{
	background-color: orange;
}


.celda2{
	grid-area: celda2;
	margin-bottom: 5%;
	align-self: center;
	justify-self: center;
}


.itemS{
	font-size: 30px;
	background-color: yellow;
	border-style: solid;
	border-color: black; 
	padding: 5px 20px 5px 20px;
	grid-area: celda4;
	align-self: center;
	justify-self: center;
	margin-bottom: 10%;
	transition: background-color 0.8s
}

.itemS:hover{
	background-color: orange;
}

.itemA{
	font-size: 30px;
	background-color: yellow;
	padding: 5px 20px 5px 20px;	
	border-style: solid;
	grid-area: celda5;
	align-self: center;
	justify-self: center;
	margin-bottom: 10%;
	transition: background-color 0.8s
}

.itemA:hover{
	background-color: orange;
}

.itemC{
	font-size: 30px;
	background-color: yellow;
	padding: 5px 20px 5px 20px;	
	border-style: solid;
	grid-area: celda6;
	align-self: center;
	justify-self: center;
	margin-bottom: 10%;
	transition: background-color 0.8s
}

.itemC:hover{
	background-color: orange;
}

.imgS{
	border-style: solid;
	border-color: black;
	transition: 0.5s;	
}

.imgS:hover{
	transform: scale(1.1,1.1);
}

.imgA{
	border-style: solid;
	border-color: black;
	transition: 0.5s;	
}

.imgA:hover{
	transform: scale(1.1,1.1);
}


.imgC{
	border-style: solid;
	border-color: black;
	transition: 0.5s;
}

.imgC:hover{
	transform: scale(1.1,1.1);
}


.imgSa{
	grid-area: celda7;
	align-self: center;
	justify-self: center;
}

.imgAa{
	grid-area: celda8;
	align-self: center;
	justify-self: center;
}

.imgCa{
	grid-area: celda9;
	align-self: center;
	justify-self: center;
}


@media (max-width: 1110px) {

	.containerHome{
		display: grid;
		grid-template-areas: 
			"celda2"
			"celda4"
			"celda7"
			"celda5"
			"celda8"
			"celda6"
			"celda9";
		grid-template-columns: auto;
		grid-template-rows: auto auto auto auto auto auto auto; 		
	}

	.itemS{
		margin-top:10%;
	}

	.itemA{
		margin-top:10%;
	}

	.itemC{
		margin-top: 10%;
	}

	h1{
		font-size: 60px;
	}

	.mainsubtittle{
		margin-left: 28%;
	}
}

@media (max-width: 385px) {
	
	h1{
		font-size: 50px;
	}

	.mainsubtittle{
		margin-left: 23%;
	}
}


/* CSS DE PESTAÑA CONTACATO */

.mainC{
	background-image: url('../Img/heroC.jpg');
	background-repeat: no-repeat;
	margin-top: 96px;

}

.container{
	border-style: solid;
	border-color: white;
}

.form-label{
	color: white;
	font-size: 30px;
	margin-top: 10px;

}

.tittleform{
	color: white;
	font-size: 30px;
}

.form-check-label{
	color: white;
	font-size: 25px;
}

.form-select{
	font-size: 20px;
}

.cleanB{
	font-size: 20px;
	margin-left: 5%;
	margin-top: 20px;
}

.sendB{
	font-size: 20px;
	margin-left: 60%;
	margin-bottom: 20px;
}

@media (max-width: 991px) {
	.sendB{
		margin-left: 50%;
	}
}

@media (max-width: 873px) {
	.container{
		max-width: 70%;
	}

	.sendB{
		font-size: 20px;
		margin-left: 38%;
		margin-bottom: 20px;
	}

}

@media (max-width: 644px) {
	.sendB{
		margin-left: 30%;
	}	
}

@media (max-width: 564px) {
	.cleanB{
		margin-left: 0%;
	}
	.sendB{
		margin-left: 15%;
	}	
}

@media (max-width: 467px) {

	.sendB{
		margin-left: 5%;
	}	
}

@media (max-width: 467px) {
	.cleanB{
		font-size: 13px;
	}
	.sendB{
		font-size: 13px;
	}
	.container{
		max-width: 60%;
	}
}

/* CSS DE PESTAÑA SERVICIOS */

.mainS{
	background-image: url('../Img/heroS.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 95px;
	color: white;
}

.containerServ{
	display: grid;
	grid-template-areas: 
		"area1 ."
		". area2"
		"area3 .";
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto; 
}

.area1{
	grid-area: area1;
	align-self: center;
	justify-self: center;
}

.area2{
	grid-area: area2;
	align-self: center;
	justify-self: center;
}

.area3{
	grid-area: area3;
	align-self: center;
	justify-self: center;
}

.tittle1{
	padding-top: 20px;
	font-size: 35px;
}

.textimg1{
	padding-top: 20px;
	font-size: 25px;
}

.img1{
	border-style: solid;
	border-color: white;
	margin-bottom: 15px;
	transition: 0.5s;
}

.img1:hover{
	transform: scale(1.05,1.05);
}

.consulta1{
 	padding: 10px 10px 10px 10px;
 	background-color: yellow;
 	font-size: 20px;
 	border-style: solid;
 	border-color: black;
 	transition: background-color 0.8s;	
}

.consulta1:hover{
	background-color: orange;
}

.tittle2{
	padding-top: 20px;
	font-size: 35px;
}

.textimg2{
	padding-top: 20px;
	font-size: 25px;
}

.img2{
	border-style: solid;
	border-color: white;
	margin-bottom: 15px;
	transition: 0.5s;
}

.img2:hover{
	transform: scale(1.05,1.05);
}

.consulta2{
 	padding: 10px 10px 10px 10px;
 	background-color: yellow;
 	font-size: 20px;
 	border-style: solid;
 	border-color: black;
 	transition: background-color 0.8s;	
}

.consulta2:hover{
	background-color: orange;
}

.tittle3{
	padding-top: 20px;
	font-size: 35px;
}

.textimg3{
	padding-top: 20px;
	font-size: 25px;
}

.img3{
	border-style: solid;
	border-color: white;
	margin-bottom: 15px;
	transition: 0.5s;
}

.img3:hover{
	transform: scale(1.05,1.05);
}

.consulta3{
 	padding: 10px 10px 10px 10px;
 	background-color: yellow;
 	font-size: 20px;
 	border-style: solid;
 	border-color: black;
 	transition: background-color 0.8s;	
}

.consulta3:hover{
	background-color: orange;
}

@media (max-width: 873px) {

	.containerServ{
		display: grid;
		grid-template-areas: 
			"area1"
			"area2"
			"area3";
		grid-template-columns: auto;
		grid-template-rows: auto auto auto; 
	}

}

@media (max-width: 600px){
	.img1{
		max-width: 90%;
	}

	.tittle1{
		font-size: 25px;
	}

	.textimg1{
		font-size: 15px;
	}

	.img2{
		max-width: 90%;
	}

	.tittle2{
		font-size: 25px;
	}

	.textimg2{
		font-size: 15px;
	}

	.img3{
		max-width: 90%;
	}

	.tittle3{
		font-size: 25px;
	}

	.textimg3{
		font-size: 15px;
	}
}


/* CSS DE PESTAÑA SOBRE NOSOTROS */

.mainSo{
	background-image: url('../Img/heroSo.jpg');
	margin-top: 95px;
	background-repeat: no-repeat;
	color: black;
}

.containerSobre{
	display: grid;
	grid-template-areas: 
		". part1 ."
		". part2 ."
		". part3 ."
		". part4 .";
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto; 

}

.part1{
	grid-area: part1;
	align-self: center;
	justify-self: center;
}

.part2{
	grid-area: part2;
	align-self: center;
	justify-self: center;
}

.part3{
	grid-area: part3;
	align-self: center;
	justify-self: center;
}

.part4{
	grid-area: part4;
	align-self: center;
	justify-self: center;
}


.tittleSo{
	font-size: 80px;
}

.textSo1{
	margin-top: 100px;
	font-size: 30px;
	text-align: center;
	text-shadow: 5px 5px 5px gray;
}

.textSo2{
	margin-top: 100px;
	font-size: 30px;
	text-align: center;
	text-shadow: 5px 5px 5px gray;
}

.tittleSocialSo{
	margin-top: 100px;
	font-size: 25px;

}

.socialSo1{
	font-size: 20px;
}

.socialSo2{
	font-size: 20px;
}

.socialSo3{
	font-size: 20px;
}

.socialSo1:hover{
	text-decoration: underline;
}

.socialSo2:hover{
	text-decoration: underline;
}

.socialSo3:hover{
	text-decoration: underline;
}





/* CSS DE PESTAÑA OFERTAS! */

.mainOfertas{
	background-image: url('../Img/heroO.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 95px;
	color: white;
}

.containerOferta{
	display: grid;
	grid-template-areas: 
		"parte1"
		"parte2"
		"parte3"
		"parte4"
		"parte5";
	grid-template-columns: auto;
	grid-template-rows: auto auto auto auto auto; 

}

.parte1{
	grid-area: parte1;
	align-self: center;
	justify-self: center;
}

.parte2{
	grid-area: parte2;
	align-self: center;
	justify-self: center;
}

.parte3{
	grid-area: parte3;
	align-self: center;
	justify-self: center;
}

.parte4{
	grid-area: parte4;
	align-self: center;
	justify-self: center;
}

.parte5{
	grid-area: parte5;
	align-self: center;
	justify-self: center;
}


.tittleOferta{
	font-size: 100px;
	color: yellow;
	text-shadow: 5px 5px 5px black;
}

.textOf1{
	padding-top: 20px;
	font-size: 35px;
}

.imgOferta{
	border-style: solid;
	border-color: black;
	margin-bottom: 35px;
	margin-top: 35px;
	transition: 0.5s;
}

.imgOferta:hover{
	transform: scale(1.1,1.1);
}


.consultaOf{
 	padding: 10px 134px 10px 133px;
 	background-color: red;
 	font-size: 20px;
 	border-style: solid;
 	border-color: black;
 	color: black;
	animation-name: effectOf;
   	animation-iteration-count: infinite;
   	animation-timing-function: ease-in;
   	animation-duration: 4s;
   	animation-delay: 0.5s;
}

@keyframes effectOf {
   0%{background-color: #FF0000;}	
   12.5%{background-color: #FF8C00;}
   25%{background-color: #FFFB00;}
   37.5%{background-color: #80FF00;}
   50%{background-color: #00FFDE;}
   62.5%{background-color: #0063FF;}
   75%{background-color: #B500FF;}
}

.textOf2{
	padding-top: 20px;
	font-size: 25px;
	color: yellow;
	text-shadow: 5px 5px 5px black;
}

.textOf3{
	padding-top: 20px;
	font-size: 25px;
}

@media (max-width: 979px) {
	.textOf1{
		font-size: 26px;
	}
	.tittleOferta{
		font-size: 75px;
	}
}


@media (max-width: 804px) {
	.textOf1{
		font-size: 19px;
		text-align: center;
	}
	.tittleOferta{
		font-size: 50px;
	}
}

@media (max-width: 503px) {
	.tittleOferta{
		font-size: 42px;
	}
	.textOf2{
		text-align: center;
	}

}